body, html{
  margin:0;
  padding:0;
}
.section{
  text-align:center;
  padding:50px 60px;
}
.section-light{
  background-color:#f4f4f4;
  color:#666;
}
.section-dark{
  background-color:#282e34;
  color:#ddd;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align: center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  opacity: 1;
 
}
.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}
.ptext .border.trans{
  background-color:transparent;
}
.img1,.img2,.img3{
  position: relative;
  opacity:0.75;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width:100%;
}
.img1{
  background-image: url("./header.jpg");
  
  min-height:100vh;
}
.img2{
  background-image: url("./buildings.jpg");
  min-height:50vh;
}
.img3{
  background-image: url("./night.jpg");
  min-height:50vh;
}